In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from vega_datasets import data

***
***
***

In [3]:
df = data.sf_temps()

In [4]:
df

      temp                date
0     47.8 2010-01-01 00:00:00
1     47.4 2010-01-01 01:00:00
2     46.9 2010-01-01 02:00:00
3     46.5 2010-01-01 03:00:00
4     46.0 2010-01-01 04:00:00
...    ...                 ...
8754  50.4 2010-12-31 19:00:00
8755  49.9 2010-12-31 20:00:00
8756  49.4 2010-12-31 21:00:00
8757  48.8 2010-12-31 22:00:00
8758  48.3 2010-12-31 23:00:00

[8759 rows x 2 columns]

Use the above dataset for the exercises below:

1. Resample by the day and take the average temperature. Visualize the average temperature over time.
2. Write the code necessary to visualize the minimum temperature over time.
3. Write the code necessary to visualize the maximum temperature over time.
4. Which month is the coldest, on average?
5. Which month has the highest average temperature?
6. Resample by the day and calculate the min and max temp for the day (Hint: .agg(['min', 'max'])). Use this resampled dataframe to calculate the change in temperature for the day. Which month has the highest daily temperature variability?
7. Bonus: Visualize the daily min, average, and max temperature over time on a single line plot, i.e. the min, average, and maximum temperature should be 3 seperate lines.

In [ ]:
# Resample by the day and take the average temperature. Visualize the average temperature over time.

In [ ]:
# Write the code necessary to visualize the minimum temperature over time.

In [ ]:
# Write the code necessary to visualize the maximum temperature over time

In [ ]:
# Which month is the coldest, on average?

In [ ]:
# Which month has the highest average temperature?

In [ ]:
# Resample by the day and calculate the min and max temp for the day (Hint: .agg(['min', 'max'])). 
# Use this resampled dataframe to calculate the change in temperature for the day. 
# Which month has the highest daily temperature variability?

***
***
***

In [5]:
df2 = data.seattle_weather()
df2

           date  precipitation  temp_max  temp_min  wind  weather
0    2012-01-01            0.0      12.8       5.0   4.7  drizzle
1    2012-01-02           10.9      10.6       2.8   4.5     rain
2    2012-01-03            0.8      11.7       7.2   2.3     rain
3    2012-01-04           20.3      12.2       5.6   4.7     rain
4    2012-01-05            1.3       8.9       2.8   6.1     rain
...         ...            ...       ...       ...   ...      ...
1456 2015-12-27            8.6       4.4       1.7   2.9      fog
1457 2015-12-28            1.5       5.0       1.7   1.3      fog
1458 2015-12-29            0.0       7.2       0.6   2.6      fog
1459 2015-12-30            0.0       5.6      -1.0   3.4      sun
1460 2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

Use the dataset to answer the following questions:

1. Which year and month combination has the highest amount of precipitation?
2. Visualize the amount of monthly precipitation over time.
3. Visualize the amount of wind over time. Choose a time interval you think is appropriate.
4. Which year-month combination is the windiest?
5. What's the sunniest year? (Hint: which day has the highest number of days where weather == sun?)
6. In which month does it rain the most?
7. Which month has the most number of days with a non-zero amount of precipitation?

In [ ]:
# Which year and month combination has the highest amount of precipitation?

In [ ]:
# Visualize the amount of monthly precipitation over time.

In [ ]:
# Visualize the amount of wind over time. Choose a time interval you think is appropriate

In [ ]:
# Which year-month combination is the windiest?

In [ ]:
# What's the sunniest year? (Hint: which day has the highest number of days where weather == sun?)

In [ ]:
# In which month does it rain the most?

In [ ]:
# Which month has the most number of days with a non-zero amount of precipitation?

***
***
***

In [6]:
df3 = data.iowa_electricity()

1. Convert any negative delays to 0.
2. Which hour of the day has the highest average delay?
3. Does the day of the week make a difference in the delay amount?
4. Does the month make a difference in the delay amount?

In [ ]:
# Convert any negative delays to 0.

In [ ]:
# Which hour of the day has the highest average delay?

In [ ]:
# Does the day of the week make a difference in the delay amount?

In [ ]:
# Does the month make a difference in the delay amount?